@model Hospital
<h1> DETALLES </h1>

<p>
    <a asp-asp-controller="Hospitales" asp-action="Index">
 Volver
    </a>


</p>


<dl>

    <dt> Nombre: @Model.Nombre</dt>
    <dt> Nombre: @Model.IdHospital</dt>
    <dt> Nombre: @Model.Direccion</dt>
    <dt> Nombre: @Model.Telefono</dt>
    <dt> Nombre: @Model.Camas</dt>

</dl>