@model List<Hospital>


<h1> Lista de Hospitales</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th> Nombre</th>
            <th> direccion</th>
            <th> telefono</th>
            <th> camas</th>
            <th> Detalles </th>
            <th> Editar </th>
            <th> Eliminar </th>
        </tr>
    </thead>

    <tbody>
        @foreach(Hospital h in Model)
        {
           <tr>
                <td> @h.Nombre</td>
                <td> @h.Direccion</td>
                <td> @h.Telefono</td>
                <td> @h.Camas</td>
                <td> 
                    @Html.ActionLink("Details", "Details","Hospitales", new {idhospital = h.IdHospital})
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit","Hospitales", new {idhospital = h.IdHospital})
                </td>

                <td>
                    @Html.ActionLink("Delete", "Index","Hospitales", new {eliminar = h.IdHospital})
                </td>

           </tr> 
        }
    </tbody>

</table>

<p> <a class="navlink" asp-controller = "Hospitales" asp-action="Create"> Crear Hospital </a></p> 